body {
    /* Global fonts are referenced inside the body tag*/
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 1; */
    line-height: 1.7;
    color: $color-gray-dark;
    padding: 3rem;
  }

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    /* Prevents changes when children animate */
    backface-visibility: hidden;
    margin-bottom: 40px;
    &--main {
      display: block;
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 3.5rem;
    
      animation-name: moveLeft;
      animation-duration: 1s;
    
      animation-timing-function: ease-out;
    
      /* How many times will animation will repat */
      /* animation-iteration-count: 3; */
      /* Delays Animiation */
      /* animation-delay: 3s; */
    }
    &--sub {
      display: block;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 1.75rem;
      /* All animation in one line */
      animation: moveRight 1s ease-out;
    }}
    
    .heading-secondary{
      font-size: 3.5rem;
      text-transform: uppercase;
      font-weight: 700;
      background: linear-gradient(to right, $color-primary-light, $color-primary-dark);
      display: inline-block;
      -webkit-background-clip: text;
      letter-spacing: 2px;
      transition: .2s;
      color:transparent;
      &:hover{
        transform: skewY(2deg) skewX(10deg) scale(1.1);
        text-shadow: .5rem 1rem 20px rgba($color-black,.2);
      }
    }

    .heading-tertiary{
      font-size: 1.6rem;
      font-weight: 700;
      text-transform: uppercase;
    }
    .paragraph {
      font-size: $default-font-size;
      &:not(:last-child){
        margin-bottom: 3rem;
      }
    }